*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.app{
    width: 100vw;
    height: 100vh;
    padding: 4px;
    position: fixed;
    background: url('https://anhdepfree.com/wp-content/uploads/2018/11/sky-wallpaper-anime-hinh-nen-bau-troi-26.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.app .player{
    background-color: rgba(230, 198, 255, 0.35);
    border: 1px solid rgba(127, 255, 212, 0.7);
    border-radius: 7px;
    box-shadow: 0 0 8px 1px rgba(127, 255, 212, 0.6);
    
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer, Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
    overflow-y: scroll; 
}

.app .player::-webkit-scrollbar {
    display: none;             /* Hide scrollbar for Chrome, Safari, and Opera */
}

.player .dashboard{
    background-color: #e4fff6;
    border-bottom: 1px solid rgba(127, 255, 212, 0.7);
    border-radius: 6px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.dashboard .name-current-song{
    color: #8400ff;
    font-size: 18px;
    line-height: 1;
}

.dashboard .song-playing .name-singer{
    margin-bottom: 6px;
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
    color: #7a6a84;
}

.dashboard .cd{
    width: 140px;
    height: 140px;
    margin: 16px auto;
}

.dashboard .cd .cd__thumb{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    /* animation: spinning linear 10s infinite; */
}

@keyframes spinning{
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }

}

.dashboard .controls{
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard .controls i{
    font-size: 24px;
    color: #8400ff;
    font-size: 18px;
    font-weight: 900;
}

.dashboard .controls i:hover{
    cursor: pointer;
}

.dashboard .controls .controls__play{
    position: relative;
    width: 36px;
    height: 36px;
}

.dashboard .controls .controls__play i{
    font-size: 36px;
    color: #8400ff;
    background-color: #e4fff6;
}

.dashboard .controls .fa-circle-pause{
    display: none;
}

.playing .controls .fa-circle-pause{
    display: block;
    background-color: #e4fff6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.playing .controls .fa-circle-play{
    display: none;
}

.dashboard .progress{
    width: 85%;
    height: 6px;
    outline: none;
    border: none;
    margin-bottom: 16px;
    accent-color: #8400ff;
}

.dashboard .progress:hover{
    cursor: pointer;
}

.player .wrapper{
    margin-top: 308px;
}

.wrapper .play-list .song{
    height: 54px;
    margin: 0 auto;
    margin-top: 12px;
    border: 0.5px solid rgba(255, 203, 254, 0.8);
    border-radius: 6px;
    box-shadow: 0 2px 3px 0.5px rgba(255, 172, 254, 0.6);
    background-color: rgba(253, 251, 215, 0.7);
    display: flex;
    position: relative;
}

.wrapper .play-list .song:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.025);
    transition: all linear 0.15s;
}

.wrapper .play-list .song__avatar{
    width: 42px;
    height: 42px;
    margin: 6px 16px 6px 6px;
}

.wrapper .play-list .song__avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.wrapper .play-list .song__info{
    margin: auto 0;
}

.wrapper .play-list .song__info-name{
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.wrapper .play-list .song__info-singer{
    font-size: smaller;
    font-weight: 300;
    font-style: italic;
    color: #6b6b6b;
}

.wrapper .play-list .song__more{
    position: absolute;
    top: 20px;
    right: 12px;
}

@media (max-width: 420px){
    .app .player{
        position: absolute;
        top: 4px;
        left: 4px;
        right: 12px;
        bottom: 12px;
        border-radius: 16px;
    }

    .player .dashboard{
        width: calc(100% - 9px);
    }

    .wrapper{
        width: 100%;
    }

    .wrapper .play-list{
        width: 100%;
    }

    .wrapper .play-list .song{
        width: 94%;
    }
}

@media (min-width: 421px){
    .app .player{
        width: 320px;
        max-height: 98vh;
        margin: 0 auto;
    }

    .player .dashboard{
        width: 320px;
    }

    .wrapper{
        width: 320px;
    }

    .wrapper .play-list{
        width: 100%;
    }

    .wrapper .play-list .song{
        width: 286px;
    }
}